$navBlockHeight: 65px;
// Colors
$dark_one: #292930;
$dark_two: #424549;
$dark_three: #2D2D34;
$gray_text: #777777;
$liveCoral: #FF6D70;
$liveCoralRGB: rgb(255,109,112);
$errorRed: #E35A5F;
$accessGreen: #A2B457;
$borderGreen: 1px solid rgba(162,180,87, 1);
$ON_Green: #42B37C;
$blue: #88CCF3;